{% extends '::base.html.twig' %}

{% block body %}
    <div>
        <h1>Admin</h1>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Users</div>
                    <div class="panel-body">
                        <ul>
                            <li><a href="{{ path('nousefreak_interview_admin_users') }}">Users</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Questions</div>
                    <div class="panel-body">
                        <ul>
                            <li><a href="{{ path('nousefreak_interview_admin_questions') }}">Questions</a></li>
                            <li><a href="{{ path('nousefreak_interview_admin_question_groups') }}">Groups</a></li>
                            <li><a href="{{ path('nousefreak_interview_admin_question_difficulty') }}">Difficulty</a></li>
                            <li><a href="{{ path('nousefreak_interview_admin_question_category') }}">Category</a></li>
                            <li><a href="{{ path('nousefreak_interview_admin_question_questionnaire') }}">Questionnaire</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
