{% extends 'form_div_layout.html.twig' %}


{##
 # Row
 #}

{% block form_row %}
    {% if 'fieldset' in form.vars.block_prefixes %}
        {{ block('_form_row_fieldset') }}
    {% elseif 'checkbox' in form.vars.block_prefixes %}
        {{ block('_form_row_checkbox') }}
    {% else %}
        {{ block('_form_row') }}
    {% endif %}
{% endblock form_row %}

{% block _form_row %}
    <div class="form-group{% if form.vars.errors|length %} has-error{% endif %}">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block _form_row_fieldset %}
    <fieldset>
        <legend>{{ form_label(form) }}</legend>
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </fieldset>
{% endblock %}

{% block _form_row_checkbox %}
    <div class="checkbox">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}


{##
 # errors
 #}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul class="list-unstyled">
                {% for error in errors %}
                    <li><span class="help-block">{{ error.message }}</span></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}


{##
 # Elements
 #}

{% block form_widget_compound %}
    {% spaceless %}
        {% if form.vars.form.parent %}
            {{ block('_form_wigdet_compound_normal') }}
        {% else %}
            {{ block('_form_wigdet_compound_tabs') }}
        {% endif %}
        {{ form_rest(form) }}
    {% endspaceless %}
{% endblock form_widget_compound %}

{% block form_label %}
    {% spaceless %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label')|trim}) %}

        {{ parent() }}
    {% endspaceless %}
{% endblock form_label %}

{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}

        {{ parent() }}
    {% endspaceless %}
{% endblock form_widget_simple %}

{% block textarea_widget %}
    {% spaceless %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
        {{ parent() }}
    {% endspaceless %}
{% endblock textarea_widget %}

{% block fieldset_widget %}
    {% for child in form.children %}
        {{ form_row(child) }}
    {% endfor %}
{% endblock %}

{% block choice_widget_collapsed %}
    {% spaceless %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
        {{ parent() }}
    {% endspaceless %}
{% endblock %}

{% block _form_wigdet_compound_normal %}
    {% for child in form.children %}
        {{ form_row(child) }}
    {% endfor %}
{% endblock _form_wigdet_compound_normal %}

{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <div class="checkbox">
                    {{ form_widget(child) }}
                    {{ form_label(child) }}
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block collection_widget %}
    {% set label = false %}
    {{ block('form_label') }}
    <ul id="{{ id }}" class="collection doh-form-collection list-group "{% if prototype is defined %} data-prototype="{{ form_widget(prototype)|e }}"{% endif %}>
        {% for item in form.children %}
            <li class="list-group-item">
                {{ form_widget(item) }}
                {{ form_errors(item) }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
